<!DOCTYPE html>
<html lang="en">

<head>
   <!-- META TAG START HERE -->
    <meta charset="UTF-8">
    <meta name="title" content="Netbizz.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name=theme-color content="#fff">
    <meta name="description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="site_url">
    <meta property="og:title" content="Netbizz.com">
    <meta property="og:description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <meta property="og:image" content="https://site_url.com/assets/images/thumbnail.webp">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://site_url.com">
    <meta property="twitter:title" content="Netbizz.com">
    <meta property="twitter:description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <meta property="twitter:image" content="https://site_url.com/assets/images/thumbnail.webp">
    <!-- META TAG END'S HERE -->
    <title>Netbizz</title>
   <!-- FAVICON -->
   <link rel="icon" type="image/png" href="assets/images/fivicon.ico">

    <!-- LIVE LINK ATTACHMENT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">

    <!-- LOCAL LINK ATTACHMENT -->
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/app.css'>

</head>

<body class="error-page">
    <!-- LOADER START HERE -->
    <div class="page_loader">
        <div class="loader"></div>
    </div>
    <!-- LOADER END HERE -->
    <!-- HEADER START HERE -->
    <div class="header">
        <div class="container">
            <a href="index.html">
                <img src="assets/images/logo.svg" alt="logo" width="141">
            </a>
        </div>
    </div>
    <!-- HEADER START HERE -->

    <!-- ERROR SECTION START HERE -->
    <section class="not_found">
        <div class="container">
            <div class="error text-center">
                <img src="assets/images/404.svg" alt="error">
                <div class="error_content">
                    <h3>We are sorry...</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium nisi?
                        at purus convallis, aliquam</p>
                    <a href="index.html" class="slide-btn"> Back to Home </a>
                </div>
            </div>
        </div>
    </section>
    <!-- ERROR SECTION END'S HERE -->

    <!-- FOOTER START HERE -->
    <footer>
        <p>© Copyright <a href="index.html" class="web-name"> NetBizz </a> All Rights Reserved.
    </footer>
    <!-- FOOTER END HERE -->

    <!-- LOCAL SCRIPT ATTACHMENT -->
     <script src='assets/js/jquery.min.js'></script>
    <script src='assets/js/bootstrap.js'></script>
	<script src="assets/js/jquery.smartmenus.min.js"></script>
    <script src='assets/js/main.js'></script>
</body>

</html>