<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META TAG START HERE -->
    <meta charset="UTF-8">
    <meta name="title" content="Netbizz.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name=theme-color content="#0094e2">
    <meta name="description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="site_url">
    <meta property="og:title" content="Netbizz.com">
    <meta property="og:description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <meta property="og:image" content="https://site_url.com/assets/images/thumbnail.webp">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://site_url.com">
    <meta property="twitter:title" content="Netbizz.com">
    <meta property="twitter:description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <meta property="twitter:image" content="https://site_url.com/assets/images/thumbnail.webp">
    <!-- META TAG END'S HERE -->
    <title>Netbizz</title>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="assets/images/fivicon.ico">

    <!-- LOCAL LINK ATTACHMENT -->
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/bootstrap.css'>
    <link rel="stylesheet" type='text/css' media='screen' href="assets/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/app.css'>

</head>

<body class="hidden">
    <!-- LOADER START HERE -->
    <div class="page_loader">
        <div class="loader"></div>
    </div>
    <!-- LOADER END HERE -->
    <!-- HEADER START HERE -->
    <header>
        <div class="navigation-wrap stickyMenu">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg ">
                            <a class="navbar-brand me-auto" href="index.html" aria-label="logo-image">
                                <img src="assets/images/logo.svg" alt="logo" width="139">
                                <img src="assets/images/logo_stricky.svg" alt="logo" width="139" class="sticky-img">
                            </a>
                            <div class="search d-block d-lg-none">
                                <div class="form" >
                                    <a class="search-submit" href="#!" data-bs-target="#search" data-bs-toggle="modal" data-bs-dismiss="modal"><img src="./assets/images/icons/search-header.svg" alt="search" width="25" height="25"></a>
                                </div>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul id="main-menu" class="navbar-nav align-items-lg-center ms-auto tabActive navbar-nav-scroll sm sm-clean">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="about-us.html">ABOUT</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="services.html">SERVICE</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="projects.html">PROJECTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="team.html">Team</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="pricing.html">PRICING</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#!">Blog</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-left.html">Blog Left Sidebar</a></li>
                                            <li><a href="blog.html">Blog Right Sidebar</a></li>
                                            <li><a href="blog-details-left.html">Single Left Sidebar</a></li>
                                            <li><a href="blog-details.html">Single Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#!">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="faqs.html">Faq</a></li>
                                            <li><a href="accordions.html">Accordions</a></li>
                                            <li><a href="actionboxes.html">Action Boxes</a></li>
                                            <li><a href="alerts.html">Alerts</a></li>
                                            <li><a href="blockquote.html">Blockquote</a></li>
                                            <li><a href="countup.html">Countups</a></li>
                                            <li><a href="featureboxes.html">Feature Boxes</a></li>
                                            <li><a href="404.html">404</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn" href="contact-us.html">Contact</a>
                                    </li>
                                    <li class="search d-none d-lg-block">
                                        <div class="form" >
                                            <a class="search-submit" href="#!" data-bs-target="#search" data-bs-toggle="modal" data-bs-dismiss="modal"><img src="./assets/images/icons/search-header.svg" alt="search" width="25" height="25">       </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER START HERE -->

    <!-- SECTION START HERE -->
    <main>

        <!-- BREADCRUMB START HERE -->
        <section class="breadcrumb_wrapper pricing">
            <div class="container">
                <div class="breadcrumb_block">
                    <div>
                        <h1>Latest Blogs</h1>
                        <div class="trackPage">
                            <a href="index.html">Home</a>
                            <span>Blog Post Details</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BREADCRUMB END HERE -->
        <!-- BLOG SECTION START HERE -->
        <section class="blog_pages default-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-1.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more">Read More <i class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-2.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more">Read More <i class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-3.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more">Read More <i class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-4.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more">Read More <i class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-5.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more">Read More <i class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-6.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more"> Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-6.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more">Read More <i class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-10">
                                <div class="news_box">
                                    <a href="blog-details.html" class="news_img"> <img src="assets/images/blog/blog-4.webp" alt="news-2">
                                        <div class="date_box">
                                            <h5>12 <br> <span>June</span></h5>
                                        </div>
                                    </a>
                                    <div class="news_detail">
                                        <a href="blog-details.html">The Pros and Cons of Starting an online Consulting Business</a>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        </p>
                                        <a href="blog-details.html" class="read-more">Read More <i class="fa fa-arrow-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="pagination">
                                <ul>
                                    <li><a href="#!">‹</a></li>
                                    <li><a href="#!" class="selected">1</a></li>
                                    <li><a href="#!">2</a></li>
                                    <li><a href="#!">3</a></li>
                                    <li><a href="#!">4</a></li>
                                    <li><a href="#!">›</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="categories_box">
                            <div class="sidebar_title">
                                <h5>Categories</h5>
                                <div class="border_side"></div>
                            </div>
                            <div class="category sidebar-info">
                                <ul>
                                    <li><a href="#!">Business <span class="categories_left">15</span></a></li>
                                    <li><a href="#!">News <span class="categories_left">20</span></a></li>
                                    <li><a href="#!">Strategy <span class="categories_left">09</span></a></li>
                                    <li><a href="#!">Brand <span class="categories_left">20</span></a></li>
                                    <li><a href="#!">Site <span class="categories_left">20</span></a></li>
                                    <li><a href="#!">Internal <span class="categories_left">03</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="recent_post">
                            <div class="sidebar_title">
                                <h5>RECENT POSTS</h5>
                                <div class="border_side"></div>
                            </div>
                            <div class="recent-post sidebar-info">
                                <ul>
                                    <li>
                                        <a href="#"><img src="assets/images/blog/post-1.webp" alt="Thumb"></a>
                                        <div class="info"> <a href="#" class="m-0">Blog Title goes here</a>
                                            <div class="meta-title"> <span class="post-date">12 June. 2018</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/blog/post-2.webp" alt="Thumb"></a>
                                        <div class="info"> <a href="#" class="m-0">Blog Title goes here</a>
                                            <div class="meta-title"> <span class="post-date">12 June. 2018</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"><img src="assets/images/blog/post-1.webp" alt="Thumb"></a>
                                        <div class="info"> <a href="#" class="m-0">Blog Title goes here</a>
                                            <div class="meta-title"> <span class="post-date">12 June. 2018</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="archives_box">
                            <div class="sidebar_title">
                                <h5>Archives</h5>
                                <div class="border_side"></div>
                            </div>
                            <div class="sidebar-info">
                                <ul>
                                    <li><a href="#!">June <span class="categories_left">15</span></a></li>
                                    <li><a href="#!">May <span class="categories_left">09</span></a></li>
                                    <li><a href="#!">April <span class="categories_left">20</span></a></li>
                                    <li><a href="#!">March <span class="categories_left">20</span></a></li>
                                    <li><a href="#!">February <span class="categories_left">21</span></a></li>
                                    <li><a href="#!">January <span class="categories_left">03</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="archives_box">
                            <div class="sidebar_title">
                                <h5>Tags</h5>
                                <div class="border_side"></div>
                            </div>
                            <div class="sidebar-info tags">
                                <ul>
                                    <li><a href="#!">Business</a></li>
                                    <li><a href="#!">News</a></li>
                                    <li><a href="#!">Brand</a></li>
                                    <li><a href="#!">Site</a></li>
                                    <li><a href="#!">Internal</a></li>
                                    <li><a href="#!">Strategy</a></li>
                                    <li><a href="#!">Brand</a></li>
                                    <li><a href="#!">Business</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- BLOG SECTION START HERE -->
        <!-- CALL SECTION START HERE -->
        <section id="new-project" class="new-project">
            <div class="container">
                <div class="new-project-details text-center text-lg-start">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-8 col-md-12 ms-auto">
                            <div class="single-new-project">
                                <h3> Want to start a new project with us? Let’s Start! </h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <a href="contact-us.html" class="slide-btn"> start now! </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- CALL SECTION END'S HERE -->

    </main>
    <!-- SECTION END'S HERE -->

    <!-- FOOTER START HERE -->
    <footer>
    <div class="website-footer" id="foot-accordiun">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-5 text-start">
              <div class="our-information">
                  <a href="index.html" class="website-logo">
                      <h2>NetBizz</h2>
                  </a>
                  <p class="web-about">Lorem Ipsum is simply dummy text of the
                      printing and typesetting industry. Lorem
                      Ipsum has been the industry's standard
                      dummy text ever since the 1500s</p>
                  <div class="social-icon">
                      <a href="#!" aria-label="social-icon"> <i class="icon fa fa-facebook"></i></a>
                        <a href="#!" aria-label="social-icon"> <i class="icon fa fa-twitter"></i></a>
                        <a href="#!" aria-label="social-icon"> <i class="icon fa fa-google-plus"></i></a>
                        <a href="#!" aria-label="social-icon"> <i class="icon fa fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-3 text-start">
              <div class="footer-links">
                  <h2 class="footer-title mob collapsed" data-bs-target="#links" data-bs-toggle="collapse">
                      Quick Links
                      <span class="footer-toggler"><img src="assets/images/icons/arrow-footer.svg" alt="arrow"></span>
                  </h2>
                  <ul id="links" class="collapse foot" data-bs-parent="#foot-accordiun">
                      <li><a href="index.html" class="text">Home</a></li>
                      <li><a href="about-us.html" class="text">About Us</a></li>
                      <li><a href="services.html" class="text">Service</a></li>
                      <li><a href="projects.html" class="text">Projects</a></li>
                      <li><a href="blog.html" class="text">Blog</a></li>
                      <li><a href="contact-us.html" class="text">Contact Us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-4 text-start">
              <div class="footer-links">
                  <h2 class="footer-title mob" data-bs-target="#contactus" data-bs-toggle="collapse">
                      Contact Us
                      <span class="footer-toggler"><img src="assets/images/icons/arrow-footer.svg" alt="arrow"></span>
                  </h2>
                  <ul id="contactus" class="collapse foot" data-bs-parent="#foot-accordiun">
                      <li class="contacts">
                          <img class="icon" src="./assets/images/icons/contact-call.svg" alt="call">
                          <div class="details">
                              <p class="text"><a href="tel:++11253678958">+11253678958</a></p>
                          </div>
                      </li>
                      <li class="contacts">
                          <img class="icon" src="./assets/images/icons/contact-maill.svg" alt="mail">
                          <div class="details">
                              <p class="text"><a href="mailto:finfo@mail.com">finfo@mail.com</a></p>
                          </div>
                      </li>
                      <li class="contacts">
                          <img class="icon" src="./assets/images/icons/contact-location.svg" alt="location">
                          <div class="details">
                              <p class="text location">125, Park street avenue,<br>
                                  Brocklyn, Newyork.</p>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-12 text-center text-lg-start">
              <div class="footer-links">
                  <h2 class="footer-title">
                      Newsletter
                  </h2>
                  <div class="footer-toggler">
                      <p>Subscribe to our newsletter to get the latest News and offers..</p>
                      <form class="form-subscribe" action="#">
                          <div class="input-group">
                              <input type="email" name="email" class="form-control input-lg" placeholder="Email Address"
                                  required>
                              <button class="btn-1 btn-success btn-lg" type="submit" aria-label="submit"><i
                                      class="fa fa-paper-plane text-light" aria-hidden="true"></i></button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right">
      <div class="container">
          <p class="copy-content">© 2023 <a href="index.html" class="web-name">NETBIZZ</a>. All rights reserved.
          </p>
      </div>
    </div>
  </footer>
    <!-- FOOTER END HERE -->

    <!-- SCROLL TO TOP BUTTON START HERE -->
    <a href="#!" id="button">
        <img loading="lazy" src="./assets/images/icons/scroll-top.svg" alt="scroll" width="20" height="20">
    </a>
    <!-- SCROLL TO TOP BUTTON END HERE -->

    <!-- SEARCH-BOX START HERE -->
    <div class="modal fade search-box" id="search" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
                        <img src="./assets/images/icons/modal-btn.svg" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <form role="search" method="post" class="search-form form">
                        <input type="search" class="search-field" placeholder="Type here">
                        <button type="submit" class="submit-btn">
                            <img src="./assets/images/icons/search-header.svg" alt="search" width="25" height="25">
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- LOCAL SCRIPT ATTACHMENT -->
    <script src='assets/js/jquery.min.js'></script>
    <script src='assets/js/bootstrap.js'></script>
    <script src="assets/js/jquery.smartmenus.min.js"></script>
    <script src='assets/js/swiper.js'></script>
    <script src="assets/js/slider.js"></script>
    <script src='assets/js/main.js'></script>
</body>

</html>