<!DOCTYPE html>
<html lang="en">

<head>
   <!-- META TAG START HERE -->
    <meta charset="UTF-8">
    <meta name="title" content="Netbizz.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name=theme-color content="#fff">
    <meta name="description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="site_url">
    <meta property="og:title" content="Netbizz.com">
    <meta property="og:description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <meta property="og:image" content="https://site_url.com/assets/images/thumbnail.webp">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://site_url.com">
    <meta property="twitter:title" content="Netbizz.com">
    <meta property="twitter:description"
        content="We craft website in a way which improves the web experience. We take pride in treating all customers with the highest degree of care, understanding, services, and support.">
    <meta property="twitter:image" content="https://site_url.com/assets/images/thumbnail.webp">
    <!-- META TAG END'S HERE -->
    <title>Netbizz</title>
   <!-- FAVICON -->
   <link rel="icon" type="image/png" href="assets/images/fivicon.ico">
    <!-- LIVE LINK ATTACHMENT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">

    <!-- LOCAL LINK ATTACHMENT -->
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/bootstrap.css'>
    <link rel="stylesheet" type='text/css' media='screen' href="assets/css/font-awesome.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='assets/css/app.css'>

</head>

<body class="schedule-page">   
    <!-- LOADER START HERE -->
    <div class="page_loader">
        <div class="loader"></div>
    </div>
    <!-- LOADER END HERE -->

    <!-- HEADER START HERE -->
    <div class="header">
        <div class="container">
            <a href="index.html">
                <img src="assets/images/logo.svg" alt="logo" width="139">
            </a>
        </div>
    </div>
    <!-- HEADER START HERE -->

    <!-- SECTION START HERE -->
    <section class="coming-soon-section">
        <!-- coming-soon section START HERE -->
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="main-content">
                        <h2>Coming Soon</h2>
                        <p>Our Website is under construction. Follow us for update now!</p>
                        <div class="counter">
                            <div class="item">
                                <h3 id="days" class="num">82</h3>
                                <span id="days-text" class="text">Days</span>
                            </div>
                            <div class="item">
                                <h3 id="hours" class="num">5</h3>
                                <span id="hours-text" class="text">Hours</span>
                            </div>
                            <div class="item">
                                <h3 id="mins" class="num">53</h3>
                                <span id="mins-text" class="text">Minutes</span>
                            </div>
                            <div class="item">
                                <h3 id="secs" class="num">35</h3>
                                <span id="secs-text" class="text">Seconds</span>
                            </div>
                        </div>

                        <div class="custom-form-group">
                            <form method="POST">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Your Email..." required>
                                    <button class="btn btn-1 btn-success btn-lg" type="submit"><i class="fa fa-paper-plane text-light" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="social-icons">
                            <a href="#!">
                                <img src="assets/images/icons/facebook-blue.svg" alt="facebook">
                            </a>
                            <a href="#!">
                                <img src="assets/images/icons/twitter-blue.svg" alt="twitter">
                            </a>
                            <a href="#!">
                                <img src="assets/images/icons/google-plus.svg" alt="google">
                            </a>
                            <a href="#!">
                                <img src="assets/images/icons/linkedin.svg" alt="linkedin">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- coming-soon section END'S HERE -->

    </section>
    <!-- SECTION END'S HERE -->
    <!-- FOOTER START HERE -->
    <footer>
        <p>© Copyright NetBizz. All Rights Reserved.</p>
    </footer>
    <!-- FOOTER END HERE -->


    <!-- LOCAL SCRIPT ATTACHMENT -->
    <script src='assets/js/jquery.min.js'></script>
    <script src='assets/js/bootstrap.js'></script>
	<script src="assets/js/jquery.smartmenus.min.js"></script>
    <script src="assets/js/countdown.js"></script>
    <script src='assets/js/main.js'></script>
</body>

</html>