$theme: #0094e2;
$white: #ffffff;
$black: #242529;
$dark: #212225;
$gray: #666666;
$light-gray: #777;
$bkg-light: #FCFCFC;
$dark-blue: #112D4E;
$blue-dark: #1d1e20;

$primary-font: 'Poppins', sans-serif;
$Montserrat-Black: 'Montserrat-Black';
$Montserrat-Bold: 'Montserrat-Bold';
$Montserrat-ExtraBold: 'Montserrat-ExtraBold';
$Montserrat-Medium: 'Montserrat-Medium';
$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-SemiBold: 'Montserrat-SemiBold';
$light : 300;
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;